input[type=text],[type=number]{
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    
  }

  
  

  body {
    background-color: #f5eea2;
  }
  h1 {
    color: rgb(158, 25, 25);
  }
  div {
    border-radius: 5px;
    background-color: #faf6c8;
    padding: 20px;
   text-align:center;
  }